mat-toolbar {
    margin-top: 20px;
}

.footer {
    height: 110px;
    font-size: 12px;
    background-color: #ff6990;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    color: #ffffff;
}

ul {
    list-style-type: none;
}

a:visited { 
    text-decoration: none; 
}

.footer-list {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}