<form class="example-form">
    <p>Customer Information</p>
    <mat-divider></mat-divider>
        <div class="mg-20">
            <div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="First name" #firstName>
        </mat-form-field>
        </div>
        <div>
        <mat-form-field class="example-full-width">
                <input matInput placeholder="Last name" #lastName>
        </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="E-mail" #email>
            </mat-form-field>    
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <span matPrefix>+46 &nbsp;</span>
                <input matInput placeholder="Phone Number" #phonenumber>
            </mat-form-field>    
        </div>
    </div>

    <p>Delivery Information</p>
    <mat-divider></mat-divider>
    <div class="mg-20">
        <div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Street Address" #address>
            </mat-form-field> 
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Zip Address" #zip>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="City" #city>
            </mat-form-field>        
        </div>
</div>

<p>Payment Information</p>
<mat-divider></mat-divider>
<div class="mg-20">
  <div>
      <mat-form-field class="example-full-width">
          <mat-select placeholder="Select cardtype" #cardCompany>
              <mat-option value="option">VISA</mat-option>
              <mat-option value="option">MasterCard</mat-option>
          </mat-select>
      </mat-form-field> 
    </div>     
  <div>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Cardnumber" #cardnumber>
    </mat-form-field>
  </div>  
</div>



    <button mat-raised-button color="accent" routerLink="/confirmation" (click)="addPerson(firstName.value,
        lastName.value, email.value, phonenumber.value, address.value, zip.value, city.value, cardnumber.value, cardCompany.value)">Payment</button>
</form>


<app-show-order></app-show-order>
