<div class="text">
  <p align="center">

    Our goal is to deliver the best donuts in the world. <br /> <br />

    At DooNutz we doonut say no to donuts! We believe that donuts can solve much bigger problems than hunger. Together we can
    spread joy and happiness, one donut at a time. <br /> <br />

    The team behind DooNutz consist of five passionate donut-eating students from Lunds Tekniska Högskola.
    
    <br />  <br />
  </p>
</div>

<div class="container">
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Axel Holmqvist</mat-card-title>
        <mat-card-subtitle>Creative Director</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/IMG_1226.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Axel is a designer mastermind
        </p>
      </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Fredrik Magnusson</mat-card-title>
        <mat-card-subtitle>Junior Backend Developer</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/IMG_1237.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Fredrik sits on a broad knowledge of algorithms
        </p>
      </mat-card-content>
    </mat-card>
    
  <mat-card class="example-card">
      <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Hanna Bayerlein</mat-card-title>
          <mat-card-subtitle>Backend Developer</mat-card-subtitle>
      </mat-card-header>
        <img mat-card-image src="assets/IMG_1230.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Hanna dreams back-end and eats JavaScript for breakfeast
          </p>
        </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Fredrik Lütz</mat-card-title>
            <mat-card-subtitle>Full Stack Developer</mat-card-subtitle>
        </mat-card-header>
          <img mat-card-image src="assets/IMG_1224.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
              Fredrik has contacts all over the universe
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
          <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Johannes Persson</mat-card-title>
              <mat-card-subtitle>Senior Backend Developer</mat-card-subtitle>
          </mat-card-header>
            <img mat-card-image src="assets/IMG_1227.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <p>
                Johannes once ate 12 donuts in one sitting
              </p>
          </mat-card-content>
    </mat-card>
  </div>
