
<p align="center">Do you have any questions? <br/>Feel free to send us an email or come by our office!</p>

<mat-grid-list cols="2" rowHeight="500px">
  <mat-grid-tile>
    <form>
      
      <div class="field">
        <input type="text" name="name" class="input" placeholder="Your Name">
      </div>

      <div class="field" style="margin-top:10px">
        <input type="email" name="email" class="input" placeholder="Your Email">
      </div>

      <div class="field" style="margin-top:10px">
        <textarea rows="6" cols="40" class="textarea" name="message" placeholder="What's on your mind?"></textarea>
      </div>
      
      <button mat-raised-button color="accent" type="submit" class="button is-danger is-large">Submit</button>

    </form>
  </mat-grid-tile>
  <mat-grid-tile>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.73153857202!2d13.208120415924737!3d55.711038080542124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465397ca158a6165%3A0x6deef4662e4ba7d5!2sInstitutionen+f%C3%B6r+datavetenskap!5e0!3m2!1ssv!2sse!4v1551786615986" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> 
  </mat-grid-tile>
</mat-grid-list>

